/* Stone with #FF9900, accent */
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --orange: #ff922b;
  --light-orange: #ffa94d;
  --dark-orange: #fd7e14;
  --grey: #e9ecef;
  --light-grey: #f1f3f5;
  --dark-grey: #dee2e6;
  --text-grey: #343a40;
  --text-light-grey: #f8f9fa;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Aleo', serif;
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Work Sans', sans-serif; */
  /* font-family: 'Cormorant', serif; */
  color: var(--text-grey);
  box-sizing: border-box;
}
/* Page Sections */
body {
  padding: 20px;
}

header {
  position: relative;
}

h1 {
  font-size: 44px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

/* Page Elements */

/* SITE HEADER */
.site-header-block {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  border-radius: 4px;
  justify-items: center;
}

.site-header {
  padding: 10px;
  flex: 1 1 auto;
}

h1 i {
  color: var(--text-grey);
  font-size: 44px;
}

.site-header span,
.list-name span {
  color: var(--orange);
}

button {
  color: var(--text-light-grey);
  background-color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 7px;
}

.account-buttons,
.list-buttons {
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.login-button-icon,
.help-button-icon {
  color: var(--text-grey);
  font-size: 29px;
  display: flex;
}

.nav-burger {
  color: var(--text-grey);
  font-size: 36px;
}

nav ul {
  list-style: none;
}

.nav-list-item {
  margin-bottom: 2px;
  font-size: 16px;
}

/* LIST HEADER */

.list-header {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;

  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}

.list-name {
  display: inline-block;
  margin-left: 10px;
  flex: 1 1 auto;
}

.list-buttons {
  margin-bottom: 10px;
  margin: 8px;
}

.list-view {
  font-size: 16px;
  padding: 4px 15px;
  display: flex;
  gap: 4px;
}

.list-view-icons {
  color: var(--text-light-grey);
}

.sort-list,
.filter-list {
  display: inline-block;
  list-style: none;
  /* FIXME: */
  position: absolute;
  background-color: var(--grey);
  z-index: 5;
}

.filter-list {
  /* FIXME: */
  top: 35px;
  right: -25px;
}

.sort-list {
  /* FIXME: */
  top: 35px;
  right: 80px;
}

.sort-list-option,
.filter-list-option {
  font-size: 12px;
  border: 1px solid #d6d3d1;
  padding: 2px;
  text-align: center;
}

.sort-list-option:hover,
.filter-list-option:hover {
  cursor: pointer;
  background-color: #d6d3d1;
}

.sort-list-option:active,
.filter-list-option:active {
  color: var(--orange);
}

/* BOOK LISTING */
.book-listing {
  margin-left: 20px;
  list-style: none;
  margin-bottom: 30px;
  height: 95px;
  border-radius: 4px;

  display: grid;
  grid-template-columns: 0fr 2fr 2fr 2fr;
  grid-template-rows: minmax(0, 2fr) minmax(0, 1fr) 5px;
  align-items: center;
  justify-items: center;
  column-gap: 10px;
}

.book-cover {
  height: 95px;
  grid-row: 1 / 4;
  justify-self: start;
}

.book-title {
  grid-column: 2 / 5;
  justify-self: start;
}

.book-listing a:link {
  color: var(--text-grey);
  text-decoration: none;
}

.book-listing a:visited {
  color: var(--text-grey);
}

.book-listing a:hover {
  text-decoration: underline;
}

.author,
.genre {
}

.author {
  justify-self: start;
}

.book-listing button {
  font-size: 16px;
}

.genre-button {
  background-color: var(--grey);
  color: var(--text-grey);
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 7px;

  align-self: start;
  border: 2px white;
  display: flex;
  gap: 2px;
}

.purchased-button {
  padding: 5px 10px;
  font-size: 16px;
  justify-self: end;
  display: flex;
  gap: 4px;
}

.purchased-icon {
  color: var(--text-light-grey);
  font-size: 20px;
}

/* ADD TO LIST */

.add-button {
  padding: 15px 15px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid var(--orange);
  /* border-bottom: none;
  border-left: none;
  border-right: none; */

  display: grid;
  margin: 30px auto;
  border-radius: 15px;
}

.add-book-form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  column-gap: 4px;
  row-gap: 4px;
}

.add-book-form-button {
  padding: 4px;
  font-weight: bold;
  font-size: 14px;
}

.add-book-form-title {
  grid-column: 1/3;
}

.add-book-form-sub-title {
  grid-column: 3/7;
}

.add-book-form-source {
  grid-column: 3/5;
}

/* Psuedo */
button:hover {
  cursor: pointer;
  background-color: var(--light-orange);
  border: 2px solid var(--light-orange);
}

button:active {
  background-color: var(--dark-orange);
  border: 2px solid var(--dark-orange);
}

.genre-button:hover {
  background-color: var(--light-grey);
  border: none;
}

.genre-button:active {
  background-color: var(--dark-grey);
}

.login-button-icon:hover,
.help-button-icon:hover,
.nav-burger:hover,
.nav-list-item:hover {
  color: var(--light-orange);
  cursor: pointer;
}

.login-button-icon:active,
.help-button-icon:active,
.nav-burger:active,
.nav-list-item:active {
  color: #e8590c;
  font-weight: bold;
}

.nav-list-item:active {
  font-weight: 400;
}

/* Dynamic Styles */
.hidden {
  display: none;
}

.sort-filter-pressed {
  text-decoration: underline;
  background-color: #d6d3d1;
}

.purchased {
  /* background-color: var(--dark-grey); */
}

.strike-through {
  text-decoration: line-through;
}
